    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('https://wallpaperplay.com/walls/full/e/d/1/183771.jpg');">
        <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Shopping Page</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
        <div class="card card-plain">
            <div class="card-body">
            <h3 class="card-title">Shopping Cart</h3>
            <br/>
            <div class="table-responsive">
            
                <table class="table table-shopping">
                <thead>
                    <tr>
                    <th class="text-center"></th>
                    <th>Product</th>
                    <th class="text-right">Price</th>
                    <th class="text-center">Qty</th>
                    <th class="text-right">Amount</th>
                    <th></th>
                    </tr>
                </thead>
                <% @amount = 0 %>
                <% items_uniq = @items.uniq %>
                <% items_uniq.each do | item | %>
                <tbody>
                    <tr class="text-center">
                    <td>
                        <div class="img-container">
                            <img src="<%= item.thumb_url %>" alt="...">
                        </div>
                    </td>
                    <td class="td-name">
                        <h4 class="card-title"><%= item.title %></h4>
                    </td>
                    <td class="td-number text-right">
                        <%= item.price %><small>&euro;</small>
                    </td>
                    <td class="td-number">
                        <div class="btn-group btn-group-sm">
                        <%= qty = @items.ids.count(item.id) %>
                        <%= form_tag(update_cart_from_cart_path(:id => item.id), method: :patch) do %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <button class="btn btn-info btn-sm btn-link" type="submit"> <i class="material-icons">add</i> </button>
                        <% end %>
                        </div> 
                    </td>
                    <td class="td-number">
                        <% i = 0 %>
                        <%= i += item.price * qty %><small>&euro;</small>
                        <% @amount += i %>
                    </td>
                    <td class="td-actions">
                        <%= form_tag(update_cart_less_from_cart_path(:id => item.id), method: :patch) do %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                            <button class="btn btn-info btn-sm btn-link" type="submit"> <i class="material-icons">close</i> </button>
                        <% end %>
                    </td>
                    </tr>
                </tbody>
                <% end %>
                </table>
                    <div style="text-align: right;">
                        <%= form_tag order_new_path do %>
                          <div id="error_explanation">
                            <% if flash[:error].present? %>
                              <p><%= flash[:error] %></p>
                            <% end %>
                          </div>
                          <article>
                            Total : <%= @amount %> €
                            <%= hidden_field_tag(:amount, @amount) %>
                            <%= hidden_field_tag(:stripeToken) %>
                          </article>
                          <button id='donateButton' class="btn btn-round btn-success">Giv US som' MONEY $$$</button>
                        <% end %>
                    </div>


            </div>
            </div>
        </div>
        </div>
    </div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  currency: 'eur',
  name: 'Kitten',
  description: 'bargain with my banker',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in euros (€).</p>');
  }
  else if (amount < 1.00) {
    $('#error_explanation').html('<p>Donation amount must be at least 1€.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>