    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/examples/bg2.jpg');">
        <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Shopping Page</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
        <div class="card card-plain">
            <div class="card-body">
            <h3 class="card-title">Shopping Cart</h3>
            <br/>
            <div class="table-responsive">
            
                <table class="table table-shopping">
                <thead>
                    <tr>
                    <th class="text-center"></th>
                    <th>Product</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Amount</th>
                    <th></th>
                    </tr>
                </thead>
                <% @total_price = 0 %>
                <% items_uniq = @items.uniq %>
                <% items_uniq.each do | item | %>
                <tbody>
                    <tr class="text-center">
                    <td>
                        <div class="img-container">
                            <img src="<%= item.thumb_url %>" alt="...">
                        </div>
                    </td>
                    <td class="td-name">
                        <h4 class="card-title"><%= item.title %></h4>
                    </td>
                    <td class="td-number text-right">
                        <%= item.price %><small>&euro;</small>
                    </td>
                    <td class="td-number">
                        <div class="btn-group btn-group-sm">
                        <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                        <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                        </div> 
                        <%= qty = @items.ids.count(item.id) %>
                    </td>
                    <td class="td-number">
                        <% i = 0 %>
                        <%= i += item.price * qty %><small>&euro;</small>
                        <% @total_price += i %>
                    </td>
                    <td class="td-actions">
                        <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
                        <i class="material-icons">close</i>
                        </button>
                    </td>
                    </tr>
                </tbody>
                <% end %>
                </table>
                    <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                    <%= form_tag charges_path do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <span>Amount: <%= @total_price %> €</span>
                        </label>
                      </article>

                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                              data-description="Your kitten order"
                              data-amount="<%= @total_price*100 %>"
                              data-locale="auto"></script>
                    <% end %>
            </div>
            </div>
        </div>
        </div>
    </div>