<div class="page-header header-filter header-small" data-parallax="true">
      <div class="container">
                <h1 class="title"><%= current_user.username %></h1>
                <h5>EMAIL - <%= current_user.email %></h5>
                <% if current_user %>
                  <%= link_to "SETTINGS", edit_user_registration_path(current_user), class: "btn btn-default btn-sm" %>
                <% end %>
        </div>
</div>
  <div class="main main-raised">
  <% if notice %>
<div style="margin-top:100px;" class="alert alert-success">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <div class="">
          <%= notice %>
          <br>
          <% if notice == "Kitten added to cart"%>
          <a href="/cart" target="_blank"><button class="btn btn-dark"><i class="material-icons">shopping_cart</i> Go to Cart</button></a>
          <% end %>
          </div>
    </div>
</div>
<% end %>
    <div class="profile-content container">
    <br>
<div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Order Date</th>
                        <th>Qty</th>
                        <th class="text-right">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% qty_price = 0 %>
                    <% unit_price = 0 %>
                    <% current_user.orders.each do | order |%>
                      <tr>
                        <td class="text-center"><%= order.id %></td>
                        <td><%= order.created_at %></td>
                        <td><%= order.items.count %></td>
                        <% order.items.each do | item | %>
                          <% qty_price = item.price * order.items.count %>
                          <% unit_price = item.price%>
                        <% end %>
                        <td class="text-right"><%= unit_price %> &#x20AC;</td>
                      </tr>
                      <tr>
                        <td colspan="5"></td>
                        <td class="td-total">
                          Total
                        <%= qty_price %> &#x20AC;
                        </td>
                        <td class="td-price">
                          <span class="badge badge-pill badge-success">Success</span>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
  </div>
  <br>