<%= token_tag %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Se connecter sur Kitten</h4>
                </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Email" %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Mot de passe" %>
                </div>
                <br>
              <% if devise_mapping.rememberable? -%>
                <div class="text-center">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
                <div class="footer text-center">
    <%= f.submit "Log in", class: "btn btn-primary btn-link btn-wd btn-lg" %>
    <br>
<%= render "devise/shared/links" %>
    </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
<% end %>

